.bord{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    font-family:ReggaOne;
    margin:70px 70px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .square {
    background: rgb(168, 145, 231);
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 24px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 150px;
    border-radius: 6px;
    cursor: pointer;
  }
  button.squarehighlight {
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 24px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width:150px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    background:  rgb(210, 201, 235);
  }
  .square:focus {
    outline: none;
  }

  @font-face{
    font-family:ReggaOne;
    src: url(./assets/fonts/ReggaeOne-Regular.ttf);

}

  